/*навигация сайта начало*/
.navigation{
	
	display: flex;
	justify-content:space-between;
	height: 120px;
	align-items: center;
	font-family: 'RocknRoll One', sans-serif;
	font-size: 25px;






}
.LOGO{
	
	margin-left: 100px;
	align-self: center;
}
.nav-links{
	
	margin-right: 100px;

}
.nav-links > a{
	margin: 8px;
	color: black;
	text-decoration: none;
	padding: 5px;
	margin: 5px;

}
.nav-links>a:hover{

	background-color: black;
	color: white;
	border-radius: 8px;
	box-shadow: 5px 3px 4px 2px grey;

}
/*Навигация сайта КОНЕЦ*/
/*HEADER НАЧАЛО*/
.header{
	border: 1PX solid black;
	width: 100%;
	height: 600PX;
	background-size: 100%;
	background-image: url(img/2.jpg);
	border-radius: 5px;
	background-position: center;
	transition: 2s;
    
}
.header:hover{
	background-size: 130%;
	transition: 4s;
}


.header-blackout{
	background-color:rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	
}
.header-content{
	color: white;
	text-align: center;

}
.left-btn{
	width: 200px;
	height: 60px;
	background-color: rgba(0,0,0,0);
	border: 4px solid white;
	color: white;
}
.left-btn:hover{
background-color: rgb(80,235,158);
border: none;
	}
.right-btn:hover{
	background-color: rgba(0,0,0,0); 
	border: 4px solid white;
	color: white;
}
.right-btn{
	width: 200px;
	height: 60px;
	background-color: rgb(80,235,158);
	color: white;
	border: none;
}
.div{
font-family: monospace;

}

.about{
	text-align: center;
	padding: 100px 0;

}
.about-top
{
	margin-bottom: 50px;
}
.about-bot
{
	display: flex;
	justify-content: space-around;
}
.about-item
{
	width: 25%;
}
.str2{
	
	background-color: black;
	animation: myAnim 5s linear infinite;

}
.str2-top{
text-align: center;
padding: 100px 0;
color: white;

}
.str2-bot
{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;

}
.str2-item
{
	width: 25%;
	margin: 20px;
	text-align: center;
	background-color: white;
	border: 5px solid black;
	border-radius: 10%;


}
.str2-item:hover{
	transform: rotate(10deg);

}
@keyframes myAnim
		{
			0%{
				background-color: black;
			}
			30%{
				border-radius: 30%;
				background-color: darkblue;
			}
		}
/* КОНЕЦ*/